.separator{
    margin: 5% 15%;
    border-bottom: 1px solid $second-color;
    opacity: 0.3;

    @include md{
        margin: 5% 10%;
    }
}
section{
    margin-inline: 15px;

    @include md{
        margin: 0 10%;
    }
}
.title{
    font-size: 2.5rem;
    font-family: $second-font;
}
.subtitle{
    font-size: 2.2rem;
    color: $second-color;
    font-family: $second-font;
}
.txt-italic{
    color: $bg-color;
    font-size: 1.2rem;
    font-style: italic;
    text-align: center;
}
