.hero {
    min-height: calc(100vh - 74px);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    align-items: center;

    .hero__article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-row: 1/2;
        padding-block: 1rem;

        @include md {
            grid-column: 1/2;
            grid-row: 1/3;
        }

        .hero__title {
            padding-bottom: 2rem;
            animation: slideInLeft 0.8s ease-in-out forwards;
            animation-delay: 0.2s;
        }
    }

    .hero__img {
        grid-row: 2/3;
        background-image: url(../media/img/aves/index.webp);
        background-size: cover;
        background-position: center;
        border: 10px solid $bg-color;
        margin-bottom: 10px;
        min-height: 350px;
        animation: slideInRight 0.8s ease-in-out forwards;
        animation-delay: 0.2s;

        @include md {
            grid-column: 2/3;
            margin-block: 15%;
            min-height: 550px;
        }

        @include lg {
            min-height: 650px;
        }
    }

    @include md {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 3rem;
    }

    .hero__pages {
        text-align: justify;
    }

    .hero__hidro {
        background-image: url(../media/img/hidrohide/marioHidro2.jpg);

        @include md {
            max-height: 450px;
        }
    }

    .hero__registros {
        background-image: url(../media/img/registros/averRara.jpg);

        @include md {
            grid-column: 1/2;
        }
    }

    .hero__reg-art {
        @include md {
            grid-column: 2/3;
        }
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}